extends  layout 

block layout-content 
    div#aboutamazon.container
        h1.page-title About Us
        div#about.row.gx-3.gy-3
            div.col
                div.aboutimg
                    img(src="/img/Rectangle2.png" aria-hidden="true" alt="decorative image with a magnet attracting people")
                h4 Customer Obsession
            div.col
                div.aboutimg 
                    img(src="/img/Rectangle1.png" aria-hidden="true" alt="Decorative Image")
                h4 Ownership
            div.col 
                div.aboutimg
                    img(src="/img/Rect3.png" aria-hidden="true" alt="decorative image of a workplace Flow")
                h4 Think Big
            div.col
                div.aboutimg
                    img(src="/img/Rectangle 4.png" aria-hidden="true" alt="Decorative image of a diver")
                h4 Dive Deep