extends  layout 

block layout-content 
    div#aboutamazon.container
        h1.page-title About Us
        div#about.row.gx-3.gy-3
            div.col
                div.aboutimg
                    img(src="/img/Rectangle2.png" )
                h4 Customer Obsession
            div.col
                div.aboutimg 
                    img(src="/img/Rectangle1.png")
                h4 Ownership
            div.col 
                div.aboutimg
                    img(src="/img/Rect3.png")
                h4 Think Big
            div.col
                div.aboutimg
                    img(src="/img/Rectangle 4.png")
                h4 Dive Deep